<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{- partial "head.html" . -}}
{{ if or (.Params.math) (.Site.Params.math) }}
{{- partial "math.html" . -}}
{{ end }}

<head>
   {{ partial "header.html" . }}
</head>

<body>
   <div id="all">
      {{ partial "breadcrumbs.html" . }}

      <section>
         <div class="container">
            <div class="row align-items-center mobile-column-reverse">
               <div class="col-md-6">
                  <h2>The Ideal Strategy for Your Agency's Motorpool Management</h2>
                  <p>
                     Develop a Contemporary Motorpool Strategy Tailored to Your Fleet. Simplify vehicle management by integrating telematics into your approach.
                  </p>
               </div>
               <div class="col-md-6">
                  <img src="/img/industries/motorpool/motorpool-guide-ebook-inline.webp" style="width:100%" alt="The Ideal Strategy for Your Agency's Motorpool Management">
               </div>
            </div>
         </div>
      </section>

      <section class="bar background-white">
         <div class="container">
            <div class="row">
               <div class="heading text-center">
                  <h2>Key Features</h2>
               </div>
            </div>
            <div class="row">
               <div class="col-md-4">
                  <div class="box-simple">
                     <div class="mb-3">
                        <img class="feature-icon" src='{{ "img/industries/motorpool/icon-right-size.svg" | relURL }}' />
                     </div>
                     <p class="text-bigger">Right-size your fleet</p>
                     <p>Utilize insights from connected vehicles to pinpoint underutilized units and strategically decide where to consolidate or pool vehicles. This approach significantly boosts utilization rates while reducing the overall cost of ownership. With the assistance of our top-tier software reservation partners, managing your vehicle pool becomes a swift and efficient process.</p>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="box-simple">
                     <div class="mb-3">
                        <img class="feature-icon" src='{{ "img/industries/motorpool/icon-boost.svg" | relURL }}' />
                     </div>
                     <p class="text-bigger">Boost driver productivity</p>
                     <p>Transition to Digital Efficiency with FleetHalo. Eradicate unnecessary driving time spent in the search, retrieval, or return of keys. Ensure that your next driver is free from concerns about the actions of the previous driver, thanks to FleetHalo Keyless technology.</p>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="box-simple">
                     <div class="mb-3">
                        <img class="feature-icon" src='{{ "img/industries/motorpool/icon-scaled.svg" | relURL }}' />
                     </div>
                     <p class="text-bigger">Scaled to your fleets needs</p>
                     <p>An Adaptable Solution for Every Fleet Size. FleetHalo Keyless is designed to cater to fleets of all sizes and types. Simply integrate the IOX-KEYLESS with a FleetHalo GO9 telematics device to begin. FleetHalo Keyless is compatible with any vehicle that uses a keyfob, accommodating even the most varied fleet compositions with ease.</p>
                  </div>
               </div>
            </div>
         </div>
      </section>

      <section class="m-0">
         <div class="bg-image" style="
                  background-image: url('/img/industries/motorpool/motorpool-banner.webp');
                  min-height: 600px;
                  margin-top: 0;
                  background-repeat: no-repeat;
                  background-position: center;
                  background-size: cover;
                  ">
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.6); min-height: 600px;">
               <div class="herotitlesection">
                  <div class="container">
                     <div class="home-hero-block">
                        <h2 class="mb-3 text-white">
                           The FleetHalo Advantage
                        </h2>
                        <ul class="mb-3 text-white">
                           <li>Optimize Vehicle Utilization: Identify underused vehicles to maximize their use.</li>
                           <li>Cut Total Ownership Costs: Strategically pool or discard vehicles to reduce expenses.</li>
                           <li>Universal Keyfob Compatibility: Works with any vehicle type equipped with a keyfob.</li>
                           <li>Smart Reservation Prioritization: Favor vehicles with lower odometer readings or higher State of Charge (SoC) for electric and hybrid models.</li>
                           <li>Accurate Mileage Tracking: Record true trip miles for precise billing.</li>
                           <li>Secure Vehicle Access: Gain entry to vehicles even in areas without cellular coverage, using the driver’s cell phone or an NFC tag.</li>
                           <li>Proactive Maintenance: Detect breakdowns early and plan maintenance to prevent costly repairs.</li>
                           <li>Comprehensive Software Ecosystem: Seamless integrations with top-tier shared mobility software solutions.</li>
                           <li>User-Friendly APIs: Facilitate quick integration into new systems.</li>
                           <li>Digital Key Technology: Utilize fully digitized keys that lock and unlock vehicles via the IOX-KEYLESS Bluetooth® connection or the GO9 device's cellular link.</li>
                        </ul>
                        <div class="mb-3 btnsectHero">
                           <a class="btn-default" href="/products/software-plan/">View Subscription Plans</a>
                           <a class="link-default-white" href="/request-demo">Get a demo</a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>

      <section class="py-5 my-0" style="background: linear-gradient(rgba(37, 71, 123, 0.95), rgba(0, 120, 211, 0.95)), center center / cover no-repeat;">
         <div class="container">
            <div class="row align-items-center">
               <div class="col-md-12">
                  <h1 class="text-center text-white">
                     Ready to optimize your fleet?
                  </h1>
                  <p class="text-white text-center">
                     Discover how easy it is to utilize our web-based software and fleet tracking devices for effective management of your construction fleet.
                  </p>
                  <div class="d-flex flex-wrap justify-content-center">
                     <a href="/request-demo" class="btn-default">Get a Demo</a>
                     <a href="/products/hardware/" class="btn-default">See Subscription Plans</a>
                  </div>
               </div>
            </div>
         </div>
      </section>

      {{- partial "footer.html" . -}}
   </div>
</body>

</html>