<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{- partial "head.html" . -}}
{{ if or (.Params.math) (.Site.Params.math) }}
{{- partial "math.html" . -}}
{{ end }}

<head>
   {{ partial "header.html" . }}
</head>

<body>
   <div id="all">
      {{ partial "breadcrumbs.html" . }}

      <section>
         <div class="container">
            <div class="row align-items-center mobile-column-reverse">
               <div class="col-md-6">
                  <h2>Maintain your emergency vehicle fleet proactively</h2>
                  <p>
                     Ensuring optimal care for your ambulances leads to enhanced efficiency and effectiveness for your vital teams. This is the reason Indianapolis EMS relies on FleetHalo for safeguarding and maintaining their ambulance fleet.
                  </p>
               </div>
               <div class="col-md-6">
                  <img src="/img/industries/police-and-first-responders/police-and-first-responders-video.gif" style="width:100%" alt="Powering safe, sustainable, and efficient connected fleets and assets">
               </div>
            </div>
         </div>
      </section>

      <section class="bar background-white">
         <div class="container">
            <div class="row">
               <div class="heading text-center">
                  <h2>Key Features</h2>
               </div>
            </div>
            <div class="row">
               <div class="col-md-4">
                  <div class="box-simple">
                     <div class="mb-3">
                        <img class="feature-icon" src='{{ "img/industries/police-and-first-responders/icon-situational.svg" | relURL }}' />
                     </div>
                     <p class="text-bigger">Situational Awareness</p>
                     <p>First responders can swiftly and securely reach emergency scenes with the aid of real-time data from mobile assets, seamlessly integrated with top Computer-Aided Dispatch (CAD) systems.</p>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="box-simple">
                     <div class="mb-3">
                        <img class="feature-icon" src='{{ "img/industries/police-and-first-responders/icon-rigorus.svg" | relURL }}' />
                     </div>
                     <p class="text-bigger">Rigorous Security</p>
                     <p>Receive immediate alerts upon collision detection. Forensic data is automatically uploaded to MyGeotab for detailed analysis and review.</p>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="box-simple">
                     <div class="mb-3">
                        <img class="feature-icon" src='{{ "img/industries/police-and-first-responders/icon-in-car.svg" | relURL }}' />
                     </div>
                     <p class="text-bigger">In-car Sensor Integration</p>
                     <p>Enable auto-locking of vehicles and track the usage of onboard equipment, while ensuring optimal temperatures for K9 units and delicate materials in the cabin.</p>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-4">
                  <div class="box-simple">
                     <div class="mb-3">
                        <img class="feature-icon" src='{{ "img/industries/police-and-first-responders/icon-mobile.svg" | relURL }}' />
                     </div>
                     <p class="text-bigger">Mobile Broadband Priority Services</p>
                     <p>Maintain emergency communication with prioritized mobile access for first responders.</p>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="box-simple">
                     <div class="mb-3">
                        <img class="feature-icon" src='{{ "img/industries/police-and-first-responders/icon-routine.svg" | relURL }}' />
                     </div>
                     <p class="text-bigger">Routine</p>
                     <p>Effortlessly perform regular maintenance inspections to ensure vehicles are always in prime condition and ready for the road.</p>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="box-simple">
                     <div class="mb-3">
                        <img class="feature-icon" src='{{ "img/industries/police-and-first-responders/icon-electric.svg" | relURL }}' />
                     </div>
                     <p class="text-bigger">Electric</p>
                     <p>Efficiently oversee the performance of electric vehicles and quickly determine which ones are fully charged and prepared for the day's tasks.</p>
                  </div>
               </div>
            </div>
         </div>
      </section>

      <section class="faq">
         <div class="container">
            <div class="row">
               <div class="row align-items-center" id="faq-wrapper">
                  <h1>
                     Frequently asked questions
                  </h1>
                  <div class="accordion accordion-flush">
                     <div class="accordion-item">
                        <h2 class="accordion-header" id="faq-1">
                           <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-collapse1" aria-expanded="false" aria-controls="faq-collapse1">
                              Which emergency services vehicles does FleetHalo work with?
                           </button>
                        </h2>
                        <div id="faq-collapse1" class="accordion-collapse collapse" aria-labelledby="faq-1" data-bs-parent="#accordionFlushExample">
                           <div class="accordion-body">
                              FleetHalo collaborates with various energy service providers globally, supporting vehicles for police, fire, ambulance services, and other essential sectors.
                           </div>
                        </div>
                     </div>

                     <div class="accordion-item">
                        <h2 class="accordion-header" id="faq-2">
                           <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-collapse2" aria-expanded="false" aria-controls="faq-collapse2">
                              How can telematics technology help improve police and emergency responder fleet management?
                           </button>
                        </h2>
                        <div id="faq-collapse2" class="accordion-collapse collapse" aria-labelledby="faq-2" data-bs-parent="#accordionFlushExample">
                           <div class="accordion-body">
                              Telematics technology plays a crucial role in enhancing community safety. At FleetHalo, we offer solutions that enable you to leverage your fleet's data for operational insights based on real-time movements. Our system helps monitor driver and public safety through behavior reporting and coaching, and assists in planning optimal routes to reduce congestion and save costs.
                           </div>
                        </div>
                     </div>

                     <div class="accordion-item">
                        <h2 class="accordion-header" id="faq-3">
                           <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-collapse3" aria-expanded="false" aria-controls="faq-collapse3">
                              How can police fleet management improve driver safety?
                           </button>
                        </h2>
                        <div id="faq-collapse3" class="accordion-collapse collapse" aria-labelledby="faq-3" data-bs-parent="#accordionFlushExample">
                           <div class="accordion-body">
                              <p>
                                 When your fleet vehicles are navigating regular traffic, it's vital to monitor speeding, harsh braking, and seat belt usage to ensure both fleet and public safety. Maintaining safe driving practices sets a positive example for the communities you serve. With FleetHalo, you can tailor custom rules to bypass speeding alerts when necessary and seamlessly integrate the system with vehicle lights and sirens for comprehensive safety management.
                              </p>
                           </div>
                        </div>
                     </div>

                     <div class="accordion-item">
                        <h2 class="accordion-header" id="faq-4">
                           <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-collapse4" aria-expanded="false" aria-controls="faq-collapse4">
                              What is federal police fleet management?
                           </button>
                        </h2>
                        <div id="faq-collapse4" class="accordion-collapse collapse" aria-labelledby="faq-4" data-bs-parent="#accordionFlushExample">
                           <div class="accordion-body">
                              <p>
                                 For your police fleet operating in regular traffic conditions, it's crucial to monitor behaviors such as speeding, harsh braking, and seat belt usage to uphold fleet and public safety. It's essential for your police unit to lead by example in community safety. With FleetHalo, you can implement tailored rules to selectively ignore speeding alerts when vehicles are using integrated lightbars and sirens during emergency responses.
                              </p>
                           </div>
                        </div>
                     </div>

                     <div class="accordion-item">
                        <h2 class="accordion-header" id="faq-5">
                           <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-collapse5" aria-expanded="false" aria-controls="faq-collapse5">
                              What are the advantages of using a tracker for a police or first response fleet?
                           </button>
                        </h2>
                        <div id="faq-collapse5" class="accordion-collapse collapse" aria-labelledby="faq-5" data-bs-parent="#accordionFlushExample">
                           <div class="accordion-body">
                              <p>
                                 FleetHalo's GO devices and the MyFleetHalo platform are instrumental for police and other first responder vehicle dispatchers, enabling them to pinpoint the nearest vehicle to an emergency scene for swift response times.
                              </p>
                              <p>
                                 Emergency service dispatchers gain critical situational awareness, allowing for optimal resource allocation and enhanced driver protection. FleetHalo facilitates seamless coordination and communication among emergency service units using precise, near real-time data. This integration proves invaluable for emergency response offices at municipal, state, or federal levels, fostering improved collaboration among on-duty first responders.
                              </p>
                              <p>
                                 The system promptly detects collisions and immobilized vehicles, enabling rapid deployment of support to officers, EMTs, or fire rescue teams in need. Additionally, FleetHalo's maintenance tracking capabilities significantly reduce downtime for first responder fleets by proactively identifying and addressing maintenance needs and minor mechanical issues before they escalate into major concerns.
                              </p>
                           </div>
                        </div>
                     </div>

                     <div class="accordion-item">
                        <h2 class="accordion-header" id="faq-6">
                           <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-collapse6" aria-expanded="false" aria-controls="faq-collapse6">
                              Can a GPS tracker be used in police vehicles?
                           </button>
                        </h2>
                        <div id="faq-collapse6" class="accordion-collapse collapse" aria-labelledby="faq-6" data-bs-parent="#accordionFlushExample">
                           <div class="accordion-body">
                              <p>
                                 Indeed, FleetHalo's GO devices can be installed in police vehicles, integrated with GPS technology, and utilized for the full range of services subscribed to by the police department. These GO devices are capable of connecting to and monitoring various police vehicle-specific equipment such as light bars, sirens, and gun racks through the use of IOX expansion technology. This ensures comprehensive tracking and management of essential police vehicle functions.
                              </p>
                           </div>
                        </div>
                     </div>

                  </div>
               </div>
            </div>
         </div>
      </section>

      <section class="py-5 my-0" style="background: linear-gradient(rgba(37, 71, 123, 0.95), rgba(0, 120, 211, 0.95)), center center / cover no-repeat;">
         <div class="container">
            <div class="row align-items-center">
               <div class="col-md-12">
                  <h1 class="text-center text-white">
                     Ready to optimize your fleet?
                  </h1>
                  <p class="text-white text-center">
                     Discover how easy it is to utilize our web-based software and fleet tracking devices for effective management of your construction fleet.
                  </p>
                  <div class="d-flex flex-wrap justify-content-center">
                     <a href="/request-demo" class="btn-default">Get a Demo</a>
                     <a href="/products/hardware/" class="btn-default">See Subscription Plans</a>
                  </div>
               </div>
            </div>
         </div>
      </section>

      {{- partial "footer.html" . -}}
   </div>
</body>

</html>