<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{- partial "head.html" . -}}
{{ if or (.Params.math) (.Site.Params.math) }}
{{- partial "math.html" . -}}
{{ end }}

<head>
   {{ partial "header.html" . }}
</head>

<body>
   <div id="all">
      {{ partial "breadcrumbs.html" . }}

      <section>
         <div class="container">
            <div class="row align-items-center mobile-column-reverse">
               <div class="col-md-6">
                  <h2>Maintain the safety, efficiency, and profitability of your fleet with a unified platform.</h2>
                  <p>
                     Your fleet encompasses a variety of vehicles, drivers, assets, and data, all requiring effective management for operational success. FleetHalo streamlines your path to complete fleet digitalization. It securely merges data from various sources into a single versatile platform, offering the insights necessary for enhancing your business operations.
                  </p>
               </div>
               <div class="col-md-6">
                  <img src="/img/products/software/Dashboard.webp" style="width:100%" alt="Powering safe, sustainable, and efficient connected fleets and assets">
               </div>
            </div>
         </div>
      </section>

      <section class="bar background-white">
         <div class="container">
            <div class="row">
               <div class="heading text-center">
                  <h2>How Can the FleetHalo Platform Benefit Your Fleet?</h2>
               </div>
            </div>
            <div class="row">
               <div class="col-md-4">
                  <div class="box-simple">
                     <div class="mb-3">
                        <img class="feature-icon" src='{{ "img/products/software/1-connect-your-way-icon-integrate.svg" | relURL }}' />
                     </div>
                     <p class="text-bigger">
                        Connect you Assets your own way
                     </p>
                     <p>
                        Link your assets using the FleetHalo GO device, OEM integrated vehicle systems, or any third-party device, sensor, or data feed.
                     </p>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="box-simple">
                     <div class="mb-3">
                        <img class="feature-icon" src='{{ "img/products/software/2-transform-data-icon-scaled-to-forcasted-demand.svg" | relURL }}' />
                     </div>
                     <p class="text-bigger">
                        Transform your into insights
                     </p>
                     <p>
                        Gather, streamline, and interpret your fleet and asset data, transforming it into practical, actionable insights.
                     </p>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="box-simple">
                     <div class="mb-3">
                        <img class="feature-icon" src='{{ "img/products/software/3-icon-empower-resilient-operations.svg" | relURL }}' />
                     </div>
                     <p class="text-bigger">
                        Strengthen Operational Resilience
                     </p>
                     <p>
                        Connect with a versatile ecosystem of hardware, software, and add-ons designed to adapt to emerging opportunities and challenges.
                     </p>
                  </div>
               </div>
            </div>
         </div>
      </section>

      <section>
         <div class="container">
            <div class="row">
               <div class="col-12">
                  <h2 class="text-center mb-5">How it Works</h2>
                  <picture>
                     <source srcset="/img/products/software/How-it-works-info.png" media="(max-width: 599.9px)">
                     <img src="/img/products/software/How-it-works-info.png" style="width:100%" alt="How it works">
                  </picture>
               </div>
            </div>
         </div>
      </section>

      <section>
         <div class="container">
            <h2 class="text-center my-5">
               Reliably acquire fleet data from diverse sources and harness insights for enhanced decision-making.
            </h2>
            <nav>
               <div class="nav nav-pills nav-fill mb-5" id="nav-tab" role="tablist">
                  <button class="nav-link active" id="nav-capture-tab" data-bs-toggle="tab" data-bs-target="#nav-capture" type="button" role="tab" aria-controls="nav-capture" aria-selected="true">Capture Data</button>
                  <button class="nav-link" id="nav-transform-tab" data-bs-toggle="tab" data-bs-target="#nav-transform" type="button" role="tab" aria-controls="nav-transform" aria-selected="false">Transform Data</button>
                  <button class="nav-link" id="nav-apply-tab" data-bs-toggle="tab" data-bs-target="#nav-apply" type="button" role="tab" aria-controls="nav-apply" aria-selected="false">Apply insights</button>
                  <button class="nav-link" id="nav-extend-tab" data-bs-toggle="tab" data-bs-target="#nav-extend" type="button" role="tab" aria-controls="nav-extend" aria-selected="false">Extend Capabilities</button>
               </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
               <div class="tab-pane fade show active" id="nav-capture" role="tabpanel" aria-labelledby="nav-capture-tab">
                  <div class="row align-items-center">
                     <div class="col-md-6">
                        <p class="text-bigger">Universal Compatibility for Diverse Data Streams</p>
                        <p>
                           FleetHalo's adaptable platform allows you to seamlessly integrate and gather data from either telematics hardware or alternative data sources. Harness the power of FleetHalo's AI and machine learning to collate and interpret insights from a vast array of sensors on numerous vehicles and assets worldwide.
                        </p>
                     </div>
                     <div class="col-md-6">
                        <img src="/img/products/software/captureData.webp" class="mx-auto" alt="Basic" width="48" height="37" style="width: 100%; max-width: 600px; height: auto; object-fit: cover" />
                     </div>
                  </div>
               </div>
               <div class="tab-pane fade" id="nav-transform" role="tabpanel" aria-labelledby="nav-transform-tab">
                  <div class="row align-items-center">
                     <div class="col-md-6">
                        <p class="text-bigger">AI-driven data analysis and insights</p>
                        <p>
                           Revolutionize how you handle diverse data sets with FleetHalo's advanced AI-driven platform. By normalizing, cleansing, and standardizing data from various sources, we ensure high-quality and consistent data input. FleetHalo's sophisticated AI algorithms compare your data with industry standards and historical records, offering rapid and precise insights, eliminating the necessity for manual data handling.
                        </p>
                     </div>
                     <div class="col-md-6">
                        <img src="/img/products/software/TransformData.svg" class="mx-auto" alt="Standard" width="48" height="37" style="width: 100%; max-width: 600px; height: auto; object-fit: cover" />
                     </div>
                  </div>
               </div>
               <div class="tab-pane fade" id="nav-apply" role="tabpanel" aria-labelledby="nav-apply-tab">
                  <div class="row align-items-center">
                     <div class="col-md-6">
                        <p class="text-bigger">Total fleet visibility in a single Interface</p>
                        <p>
                           FleetHalo delivers a complete overview of your entire fleet through its intuitive platform. Gain proactive insights, detailed visualizations, and sophisticated benchmarking tools essential for enhancing your fleet operations. The platform also supports additional ELD-based functionalities (DVIR, HOS, & IFTA reporting), accessible via the FleetHalo Drive app on any iOS or Android device.
                        </p>
                     </div>
                     <div class="col-md-6">
                        <img src="/img/products/software/Applyinsights.svg" class="mx-auto" alt="Premier" width="48" height="37" style="width: 100%; max-width: 600px; height: auto; object-fit: cover" />
                     </div>
                  </div>
               </div>
               <div class="tab-pane fade" id="nav-extend" role="tabpanel" aria-labelledby="nav-extend-tab">
                  <div class="row align-items-center">
                     <div class="col-md-6">
                        <p class="text-bigger">Unlock New Opportunities with a Diverse Ecosystem</p>
                        <p>
                           Dive into an extensive marketplace filled with cutting-edge hardware and software options. FleetHalo's robust SDK seamlessly integrates with leading ERP, CRM, and various enterprise systems. Enhanced by potent APIs and IOX® add-ons, our platform extends your fleet management abilities, providing deeper operational insights and heightened control.
                        </p>
                     </div>
                     <div class="col-md-6">
                        <img src="/img/products/software/ExtendCapabilities.webp" class="mx-auto" alt="Order Now" width="48" height="37" style="width: 100%; max-width: 600px; height: auto; object-fit: cover" />
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>

      <section class="cta bg-grey-light py-5 my-0">
         <div class="container" id="cta">
            <div class="row align-items-center">
               <div class="col-md-6">
                  <p class="text-center text-md-start text-white">
                     {{ .Description }}
                  </p>
               </div>
               <div class="col-md-6 d-flex justify-content-md-end flex-wrap justify-content-center">
                  <a href="/company/contact/" class="btn-default">Contact us</a>
                  <a href="{{ .Site.Params.heros.linkLink }}" class="btn-default">Get a demo</a>
               </div>
            </div>
         </div>
      </section>

      {{- partial "footer.html" . -}}
   </div>
</body>

</html>