
# Created by https://www.gitignore.io/api/macos
# Edit at https://www.gitignore.io/?templates=macos

# Ignore node_modules directory
node_modules/*
111/*
config.toml

# Other common ignores
.DS_Store
.env
