<!DOCTYPE html>
<html lang="{{ .Site.Params.lang }}">
{{- partial "head.html" . -}}
{{ if or (.Params.math) (.Site.Params.math) }}
{{- partial "math.html" . -}}
{{ end }}

<body id="backtop">
   {{- partial "header.html" . -}}
   <div class="heroSection">
      {{- partial "hero.html" . -}}
   </div>

   <section class="home-overview">
      <div class="container" id="home-overview">
         {{- partial "homeoverview.html" . -}}
      </div>
   </section>

   <section class="logolist bg-grey-light py-5">
      <div class="container" id="logolist">
         {{- partial "logolist.html" . -}}
      </div>
   </section>

   <section class="map">
      <div class="container">
         {{- partial "map.html" . -}}
      </div>
   </section>

   <section class="testimonials">
      <div class="container" id="testimonials">
         {{- partial "testimonials.html" . -}}
      </div>
   </section>
   <div class="home-middle-banner">
      {{- partial "home-middle-banner.html" . -}}
   </div>

   <section class="howtouse">
      <div class="container" id="how-to-use">
         {{- partial "howtouse.html" . -}}
      </div>
   </section>

   <section class="faq">
      <div class="container" id="faq">
         {{- partial "faq.html" . -}}
      </div>
   </section>

   <section class="featureSection">
      <div class="container" id="aboutus">
         <div class="backtotop"><a href="#backtop"><i class="fa fa-chevron-up"></i></a></div>
         {{- partial "features.html" . -}}
      </div>
   </section>

   <section class="cta bg-grey-light py-5 my-0">
      <div class="container" id="cta">
         {{- partial "cta.html" . -}}
      </div>
   </section>

   {{- partial "footer.html" . -}}

   {{ partial "scripts.html" . }}
</body>

</html>