<div class="container">
   <div class="row align-items-center">
      <div class="col-md-7">
         <h1>{{ .Site.Params.HomeOverview.title }}</h1>
         <p>{{ .Site.Params.HomeOverview.text }}</p>
      </div>
      <div class="col-md-5">
         <img src="{{ .Site.Params.HomeOverview.image }}" width="{{ .Site.Params.HomeOverview.width }}" height="{{ .Site.Params.HomeOverview.height }}" style="width:100%; height: auto;" alt="{{ .Site.Params.HomeOverview.title }}">
      </div>
   </div>
   <hr>
   <div class="row">
      <div class="row align-items-center">
         <picture class="css-1jaw6c9" data-testid="picture">
            <source srcset="/img/home-overview.svg" media="(max-width: 599.9px)">
            <img src="/img/home-overview.svg" alt="geotab illustration" data-testid="imageColumn" class=" css-v9pghg">
         </picture>
      </div>
   </div>
   <!-- /.row -->
</div>