<section class="m-0">
	<div class="home-hero">
		<!-- Background image -->
		<div class="bg-image" style="
            background-image: url('/img/banners/home-middle-banner.jpg');
            height: 600px;
            margin-top: 0;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            ">
			<div class="mask" style="background-color: rgba(0, 0, 0, 0.6); height: 600px;">
				<div class="herotitlesection">
					<div class="container">
						<div class="home-hero-block">
							<h2 class="mb-3 text-white">
								Enterprise GPS tracking software for large fleets
							</h2>
							<p class="mb-3 text-white">
								Organizations with hundreds or thousands of resources need more—more options, customizations, support and training. We partner with enterprise fleets to offer a GPS fleet tracking solution that works for your business.
							</p>
							<ul class="mb-3 text-white">
								<li>Access more data on your vehicles, workers and assets</li>
								<li>Capture metrics for forecasting, work planning and route sequencing</li>
								<li>Use pre-built connectors to link with other fleet tracking platforms</li>
								<li>Have flexible fleet tracking hardware options, including those with OEMs</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Background image -->
	</div>
</section>