<section class="m-0">
	<div class="home-hero">
		<!-- Background image -->
		<div class="bg-image" style="
            background-image: url('/img/banners/home-middle-banner.jpg');
            min-height: 600px;
            margin-top: 0;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            ">
			<div class="mask" style="background-color: rgba(0, 0, 0, 0.6); min-height: 600px;">
				<div class="herotitlesection">
					<div class="container">
						<div class="home-hero-block">
							<h2 class="mb-3 text-white">
								Discover the Fleet Halo Advantage
							</h2>
							<p class="mb-3 text-white">
								FleetHalo offers comprehensive telematics solutions suitable for all business sizes. It provides historical and real-time actionable trip data that helps manage inventory, vehicles and drivers. Drivers can log in and self-monitor work hours, fatigue levels and more from a single dashboard.
							</p>
							<p class="mb-3 text-white">
								Its key modules include fleet reports, routing and dispatch, driver and vehicle tracking, and asset tracking and management.
							</p>
							<ul class="mb-3 text-white">
								<li>Complete visibility of workforce, assets, and costs</li>
								<li>Dispatching, navigation and route optimization</li>
								<li>Collision detection & notification, driver safety scorecard</li>
								<li>High-performance GPS technology</li>
								<li>Advanced dashboard reports</li>
								<li>Open platform for easy data integration</li>
								<li>Marketplace Apps and Add-Ons</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Background image -->
	</div>
</section>