{{ if and .Site.Params.Enable.enableGoogleMaps .Site.Params.Enable.googleMapsApiKey }}
{{ if isset .Site.Params.Enable "latitude" }}
{{ if isset .Site.Params.Enable "longitude" }}
<div class="hidden">
  <input id="gmap-lat" value="{{ .Site.Params.Enable.latitude }}" />
  <input id="gmap-lng" value="{{ .Site.Params.Enable.longitude }}" />
  <input id="gmap-marker" value='{{ "img/icons/map-marker.png" | relURL }}' />
  {{ if isset .Site.Params "direction" }}
  <input id="gmap-dir" value="{{ .Site.Params.Enable.direction }}" />
  {{ else }}
  <input id="gmap-dir" value="{{ .Site.Params.Enable.latitude }},{{ .Site.Params.Enable.longitude }}" />
  {{ end }}
</div>
<div id="map"></div>
{{ end }}
{{ end }}
{{ end }}