<div class="row align-items-center">
    <div class="col-md-12">
        <h1 class="text-center text-white">
            Ready to optimize your fleet?
        </h1>
        <p class="text-white text-center">
            Discover how easy it is to utilize our web-based software and fleet tracking devices for effective management of your construction fleet.
        </p>
        <div class="d-flex flex-wrap justify-content-center">
            <a href="{{ .Site.Params.heros.btnLink }}" class="btn-default">Get a Demo</a>
            <a href="{{ .Site.Params.heros.linkLink }}" class="btn-default">See Subscription Plans</a>
        </div>
    </div>
</div>